
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  }

   .btn{
      width: 164px;
      height: 44px;
      border: none;
      border-radius: 4px;
      padding: 12px 16px;
      text-size: 16px;
      text-weight: semi-bold;
      color: white;
      cursor: pointer;
      background-color: #30B868
    }
    /* main style */
  nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
   /* background: white */
   border: 1px solid red;
  }
    nav .logo-navbar{
     width: 139px;
     height: 60;
  }
   ul{
    list-style: none;
    font-size: 16px;
    font-weight: medium;
    width: 365px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    }
   
    